Ты был собой! теперь же, ученик,
Не будешь жить как прежде, но иначе:
Ты можешь подготовить, если вник,
Себе преемника, дерзай, удачи.

Так красота наследная твоя
Не знает: где ты будешь после смерти,
Медвежья ли берлога ждёт тебя,
Другой ли образ рок тебе расчертит.

Кто поручится в том, что крепкий дом
Упадка избежит, и что хозяйство
Не разорит зима, война, погром,
Пожар, метеорит иль разгильдяйство?

Всё может быть! Но знай же, милый сын,
Есть твой отец: и внук да будет с ним.